body{
	background-color: #FFFFFF;
	
	margin: 0px;
	padding-top: 150px;
	background-attachment: fixed;
}


header{
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0px;
    margin-left: 0;
    margin-right: 0;

}
p{
	text-align: center;
}
.what{
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 60px;
	width: 60px;
	object-fit: cover;
	
	border-radius: 40px;
	align-content: center;

	
}


.wt{
	height: 55px;
	width: 55px;
	object-fit: scale-down;
	margin: 0px;
	min-width: 0px;i
}


.nav_responsive_ul{
display: none;
}

.boton_menu{
	display: none;
}
.nav_ul{
	background-color: #5BC8AC;
	color: #E6EFED;
	padding: 15px;
	font-size: 20px;
	height: 100%;
	margin: 2px;
	margin-bottom: 2px;
	border-radius: 4px;
}


.nav_li{
	display:  inline-block;
	

}
.nav_li a{
	color:  #E6EFED;
	text-decoration: none;
	padding: 15px;
}


.nav_li :hover {
	color: #2A3132;
}

.nav_li i{
	width: 20px;
	text-align: right;
	margin-right: 4px;
}
.container{
	background: #5BC8AC;
	animation-name: fondo;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	border-radius: 4px;
	display:block;
	
}
@keyframes fondo{
	0%{background: #2A3132;}
	100%{background: #2A3132;}
}

.caja{
	font-family:sans-serif;
	font-size: 90px;
	color: #E6EFED;
	height: 100px;
	width: 100px;
	position: relative;
	animation-name: desplazarse;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count:1;
	animation-direction: alternate;	
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
	display: block;
}


@keyframes desplazarse{

0% {
margin-left: 0%;
}
100%{margin-left: 40%;}

}


.container_flex{
	display: flex;
	margin:  5px;
	flex-direction: row;
	flex-wrap: wrap;

	
}


.caja_grilla{
	display: flex;
	margin: 6px;
	
	border-radius: 4px;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 725px;
	min-width: 380px;
	flex: 1;
	justify-content: space-evenly;
	align-content: center;


}

h2{
	text-align: center;
	color:#000000 ;
}

.caja_grilla2{
	display: flex;
	margin: 6px;
	border-style: solid;
	border-color: #FF420E;
	border-radius: 4px;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 125px;
	min-width: 350px;
	max-width: 380px;
	flex: 1;
	justify-content: space-evenly;
	align-content: center;


}

.item{
	width: 160px;
	height: 340px;
	background-color: black;
	display: flex;
	margin: 10px;
	border-radius: 4px;
}

img{
	object-fit: cover;
	padding: 3px;
	min-width: 154px;
	height: 334px;
	background-attachment: ;
}
.item:hover{
	background-color: #5BC8AC;
}
.orange{
	width: 360px;
	height: 260px;
	padding: 15px;
	font-family: sans-serif;
	font-size: 16px;
	color: black;
}

.orange1{
	width: 360px;
	padding: 15px;
	padding-top: 8px;
	font-family: sans-serif;
	font-size: 16px;
	color: black;
}

.offer{
	display: none;
}

@media only screen and (max-width: 769px)
{

.nav_ul{
	display: none;
    }

.boton_menu{
	display:block;
	position:fixed;
	right: 0;
	top: 0;
	font-size: 24px;
	padding: 4px;
	color: #E6EFED;

}

.nav_responsive_ul:hover{

	margin-top: 42px;
	background-color: #5BC8AC;
	transition-duration: 1s;
}
.nav{
	padding: 0;
	margin: 0;
}

.nav_responsive_ul{
	display: block;
	color: #E6EFED;
	list-style-type: none;
	padding: 6px;
	padding-top: 4px;
	font-size: 16px;
	margin: 0px;
	border-radius: 10px;
	width: 100%;
	margin-top: -83px;
}

.nav_responsive_li{

	margin: 5px;
}



.nav_responsive_li{
	margin: 4px;
}


.nav_responsive_li:hover > a {
	color: #2A3132;
}
.nav_responsive_li i{
	width: 30px;
	box-sizing: border-box;
	text-align: right;
	margin-right: 4px;
}

.nav_responsive_li a{
	color:  #E6EFED;
	text-decoration: none;

}

.container{
	width: 100%;
	position: fixed;

	animation-name: fondo;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	border-radius: 4px;
	height: 41px;
}

@keyframes fondo{
	0%{background-color: #2A3132;}
	100%{background-color: #2A3132;}
}


.caja{
	font-family:sans-serif;
	font-size: 40px;
	color: #E6EFED;
	height: 50px;
	width: 80%;
	position: fixed;
	animation-name: desplazarse;
	animation-duration: 1,5s;
	animation-timing-function: ease-in;
	animation-iteration-count:1;
	animation-direction: alternate;	
	animation-fill-mode: forwards;
	animation-delay: 1s;

	
}


header{
	background-color: #2A3132;
}

body{
	padding-top: 40px;
}

.offer{
	display: block;
	position: fixed;
	bottom: 10px;
	left: 2px;
   padding: 5px;
   text-align: center;
	writing-mode: vertical-rl;
	text-orientation: upright;
	background-color: #2A3132;
	border-radius: 10px;

}

.tr{
	color: #E6EFED;
	text-decoration: none;
	height: 10px;
}
.caja_grilla2{
	display: flex;
	margin: 6px;
	padding-top: 45px;
	border-style: solid;
	border-right: 0px;
	border-left: 0px;
	border-color: #5BC8AC;
	border-radius: 4px;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 125px;
	min-width: 365px;
	max-width: 700px;
	flex: 1;
	justify-content: space-evenly;
	align-content: center;


}
}
